.container{
    // background-color: #fff;
    border-radius: 10px;
    padding: 0 10px;
    // display: none;

    h3{
        margin: 0 0 20px 0;
        font-size: 30px;
        font-weight: 700;
        color: #444;

        small{
            display: block;
            font-weight: 100;
            font-size: 14px;
        }
    }

    p{
        margin: 5px 0 0 0;
        color: #444;

        &.filterTitle{
            font-weight: bold;
        }
    }

    .adMockup{
        margin-top: 30px;
        height: 200px;
        border-radius: 6px;
        background-color: #ccc;
    }
}

@media (min-width: 768px) {
    .container{
        display: block;
    }
}

.viewMore {
    width: 100%;
    border: 1px solid #666;
    padding: 8px;
    font-weight: 700;
    border-radius: 10px;
    color: #666;
    transition: 0.2s;
    cursor: pointer;

    &:hover{
        background-color: #666;
        color: #fff;
    }
}