.container{
    display: none;
    margin-top: 20px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr;

    .imageContainer{
        height: 100px;
        width: 100%;
        background-color: #ddd;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        border: 1px solid #888;
    }
}



@media (min-width: 768px) {
    .container{
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        .imageContainer{
            height: 200px;
        }
    }
}