.container{

    h1{
        color: #444;
        margin: 0;
    }

    .goBackButton{
        color: #666;
        cursor: pointer;
    }

    .description{
        margin-top: 20px;
        color: #444;
    }
}
