.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

@media (min-width: 768px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}