.container {
    h3 {
        color: #444;
        margin-bottom: 10px;

        small {
            display: block;
            font-weight: normal;
            font-size: 12px;
            color: #666;
        }
    }

    .itemsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;

        .item {
            text-align: center;
            padding: 10px;
            border: 1px dashed #ddd;
            border-radius: 15px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            span {
                display: block;
                font-weight: 500;
                color: #444;
            }
        }
    }

    .showMoreButton {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        margin-top: 10px;
        background-color: #f2f2f2;
        padding: 10px;
        width: 100%;
        border-radius: 6px;
        font-weight: 600;
        color: #444;
    }
}

@media (min-width: 768px) {
    .container {
        .itemsContainer {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
