.container{
    display: grid;
    grid-template-columns: 1fr;

    h3{
        color: #444;
        margin-bottom: 20px;
    }

    p{
        color: #666;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}